@tailwind base;
@tailwind components;
@tailwind utilities;


.terminal-scroll-container {
  overflow: scroll; 
  scrollbar-width: none; 
}

.terminal-scroll-container::-webkit-scrollbar {
  display: none;
}

.bg-gray-900 {
  background-color: #1a202c;
}

.text-gray-100 {
  color: #f7fafc;
}


.dark .bg-gray-900 {
  background-color: #2d3748;
}

.dark .text-gray-100 {
  color: #e2e8f0;
}
